.App{
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
}
.SideNav{
  z-index: 5;
  position: relative;
  width: 100%;
  flex: 1;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  min-width: 80px;
  transition: all 0.5s;
}
.SideNav.active{
  min-width: 250px;
}
.MainBody{
  position: relative;
  width: 100%;
  flex: 12;
  height: 100%;
  transition: all 0.5s;
}
.nav-body{
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  transition: all 0.5s;
}
.nav-profile{
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.profile-image{
  height: 70px;
  width: 70px;
  /* flex: 1; */
  border: 1px solid white;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 40px;
  margin: 10px 0;
  transition: none;
}
.profile-name{
  height: fit-content;
  overflow: hidden;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.transition-in{
  transition: all 0.5s;
  transition-delay: 0.5s;
}
.transition-out{
  transition: all 0.5s;
}
.dispHidden{
  max-width: 0;
  overflow: hidden;
}
.ml10{
  margin-left: 10px;
}

.heading{
  font-weight: 600;
  font-size: 20px;
}
.sub-heading{
  font-weight: 400;
  color: white;
  opacity: 0.3;
}